.button-text{
	white-space: normal !important;
	word-wrap: break-word;
	text-align: center;
	font-weight: bold;
}
/* Button */
.common-button, .common-button:hover {
	background-color: #46b29b !important;
	font-size: 14px !important;
	font-family: Arial,sans-serif;
	text-transform: uppercase;
	border: #46b29b !important;
	cursor: pointer;
}
.delete-button{
	background-color: #ca2222 !important;
	font-size: 14px !important;
	font-family: Arial,sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	color: #FFFFFF;
}

.save-button{
	background-color: #46b29b !important;
	font-size: 14px !important;
	font-family: Arial,sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	color: #FFFFFF;
}

.close-button{
	background-color: #46b29b !important;
	font-size: 14px !important;
	font-family: Arial,sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	color: #FFFFFF;
}
.btn{
	text-transform: uppercase;
}

/* Padding */
.padding-top-0px{
	padding-top: 0 !important;
}
.padding-top-10px{
	padding-top: 10px !important;
}
.padding-bottom-10px{
	padding-bottom: 10px !important;
}
/* Popup */
.modal-title {
	font-weight: bold;
}
.index .title-login , .homepage .title-login {
	font-size: 28px !important;
}
.index .footer, .homepage .footer{
	font-size: 14px !important;
}
/*.index .panel, .homepage .panel {
	padding: 0 25px 20px !important; 
}*/
.index .hostlink, .homepage .hostlink {
	/*margin-bottom: -30px;
    margin-top: 115px;*/
}
.index .hostlink .web-host-btn, .homepage .hostlink .web-host-btn {
	padding-right: 33px;
	padding-left: 33px;
}
.index .hostlink a, .homepage .hostlink a {
	padding-left: 3px;
    padding-right: 3px;
    margin-bottom: 10px;	
    font-size: 14px;
}
.forgotten_password .forgotten, .forgotten_password .forgotten p, .forgotten_password .forgotten .button-group .btn {
	font-size: 14px;	
}
.index .fa-user, .homepage .fa-user,.index .fa-lock, .homepage .fa-lock, .fa-envelope {
	color: black;
}
.option .panel-form-second-part h3, .remote_patient_option .panel-form-second-part h3, .confirm .panel-second-part p, .confirm .button-group .btn {
	font-size: 14px !important;
}
.confirm .panel-second-part h2, ._security_login .panel-form-second-part h2 {
	font-size: 20px !important;
}
.invitation .form_datetime .input-group-addon {
	cursor: pointer;
}
.index .panel-form-second-part .button-group .user-links a, .homepage .panel-form-second-part .button-group .user-links a {
		font-size: 14px !important;
}
.schedule_new #schedule_submit, #schedule_confirm_submit {
	font-weight: normal !important;
}
@media (min-width: 1200px) {
	.invitation #logout {
		right: -20px;
	}
}
@media (max-width: 450px){
	.index .panel-form-second-part .button-group .user-links a, .homepage .panel-form-second-part .button-group .user-links a {
		font-size: 14px !important;
	}
	.option .option_margintop .special {
		margin-top: -1px;
	}
	.index .hostlink, .homepage .hostlink {
		/*margin-top: 80px !important;
		margin-bottom: 5px;*/
	}
}
.margin-top-60px {
	margin-top: 60px;		
}
.margin-top-30px {
	margin-top: 30px;		
}
.index .panel-form-second-part .button-group .btn, .homepage .panel-form-second-part .button-group .btn{
	font-size: 18px !important;
	font-weight: bold;
}
.footer a{
	font-size: 12px !important;	
}
.index .panel-form-second-part h2, .homepage .panel-form-second-part h2 {
	font-size: 24px !important;
}
.index .input-lg, .homepage .input-lg{
	font-size: 14px !important;
}
.schedule_edit .panel-second-part p,
.schedule_edit .panel-second-part button,
.schedule_edit .panel-second-part a,
.schedule_confirm_cancel .panel-second-part p,
.schedule_confirm_cancel .panel-second-part button,
.schedule_confirm_cancel .panel-second-part a,
.schedule_confirm .panel-second-part p,
.schedule_confirm .panel-second-part button,
.schedule_confirm .panel-second-part a,
.invitation form .form-group label,
.invitation .button-group button,
.invitation .panel-form-second-part h2,
.invitation .panel-form-second-part h3,
.invitation ul li,
.schedule_edit ul li,
.schedule_new ul li,
.modal-body {
	font-size: 14px !important;
}
.schedule_edit .panel-second-part h2,
.schedule_edit .panel-first-part h1,
.schedule_confirm_cancel .panel-second-part h2,
.schedule_confirm_cancel .panel-first-part h1,
.schedule_confirm .panel-second-part h2,
.schedule_confirm .panel-first-part h1{
	font-size: 20px !important;	
}
.btn{
	padding-left: 20px;
    padding-right: 20px;
}
.remote_patient_option .panel-form-second-part h2,
.remote_patient_option .panel-form-second-part h3,
.option .panel-form-second-part h2,
.option .panel-form-second-part h3 {
	font-size: 20px !important;	
}
.remote_patient_option .panel-form-second-part h2,
.remote_patient_option .panel-form-second-part h3,
.option .panel-form-second-part h2,
.option .panel-form-second-part h3 {
	font-size: 20px !important;	
}
.btn-remove-padding{
	padding-left: 10px;
    padding-right: 10px;
}
